#id_homepage {
    display: flex;
    flex-direction: row;
    margin: 0% 10%;
    border-bottom: 1px solid white;
}

#login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: auto;
    background-color: #9AA5B1;
    margin: 3% 10%;
}

#login-box-top {
    background-image: url("https://arweb.sdsu.edu/es/webportal/images/bg_header.png");
    height: 71px;
    width: 100%;
}

#helpHeader {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 600;
}

#helpParagraph {
    display: flex;
    justify-content: center;
    font-size: 26px;
    color: black;
    font-weight: 600;
}

#contactInfo {
    display: flex;
    color: black;
    justify-content: center;
    padding: 20px 425px;
    font-size: 23px;
    font-weight: 600;
}

.homeButton {
    display: flex;
    justify-content: left;
    margin: -2% 1%;
    padding: 2px 2px;
    border-color: rgb(225, 172, 11);
    cursor: pointer;
    border-width: medium;
    font-weight: 600;
}
