.sidenav {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: rgb(17, 17, 17);
}

.sidenav a {
    padding: 16px;
    text-decoration: none;
    font-size: 16px;
    color: #afafaf;
    display: block;
}

.sidenav a.active {
    background-color: gold;
    color: white;
}

.sidenav a:hover:not(.active) {
    text-decoration: none;
    background-color: white;
    color: #555;
}

#content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidenav a {float: left;}
    #content {margin-left: 0; padding: 0;}
    #main-box {margin:0%; border-radius: 0%;}
}

@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }
}

#id_homepage {
    display: flex;
    flex-direction: row;
    margin: 0% 0% 0% 1px;
    background-color: #3566D8;

}

#id_homepage a:link {
    text-decoration: none;
    color: rgb(252, 8, 8);
}

#id_homepage a:hover {
    text-decoration: none;
    color: rgb(252, 8, 8);
}

#myline{
    border-bottom: 1px solid white;
}

#main-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
    width: auto;
    background-color: white;
    border-radius: 25px;
}

/* help button moved to menu sidebar
.helpButton {
    border-color: gold;
    float:right;
    
}

#help{
    display: inline;
    padding-top: 1.35%;
    padding-right: 3%;
    float: right;
}
*/
li {
    list-style: none;
}